{% extends 'AppBundle::base.html.twig' %}

{% block layout %}
    <h1>Agenda</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Reference</th>
                <th>Iscoming</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for rdv in rdvs %}
                <tr>
                    <td><a href="{{ path('rdv_show', { 'id': rdv.id }) }}">{{ rdv.id }}</a></td>
                    <td>{% if rdv.date %}{{ rdv.date|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ rdv.reference }}</td>
                    <td>{% if rdv.isComing %}Yes{% else %}No{% endif %}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <a role="button" class="btn btn-primary" href="{{ path('rdv_show', { 'id': rdv.id }) }}">Afficher</a>
                            <a role="button" class="btn btn-primary" href="{{ path('rdv_edit', { 'id': rdv.id }) }}">Modifier</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn btn-success" href="{{ path('rdv_new') }}" role="button">Créer nouveau rendez-vous</a>
{% endblock %}


