{% extends 'AppBundle:base.html.twig' %}

{% block layout %}
    <h1>Création d'un Rendez-vous</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <p>Référence = {{ form.reference.vars.value }}</p>

    <ul>
        <li>
            <a href="{{ path('rdv_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}

