{% extends 'AppBundle::base.html.twig' %}

{% block layout %}
    <h1>Rendez-vous</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ rdv.id }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{% if rdv.date %}{{ rdv.date|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Référence</th>
            <td>{{ rdv.reference }}</td>
        </tr>
        <tr>
            <th>Prochain Rendez-Vous</th>
            <td>{% if rendezVous.isComing %}Yes{% else %}No{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rdv_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('rdv_edit', { 'id': rdv.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}