{% extends 'AppBundle::base.html.twig' %}

{% block layout %}
<th>Espèce</th>
<th>Créé le</th>
<th>Rendez-vous</th>
<th>Actions</th>
<tr>
</thead>
<td>{{ client.espece }}</td>
<td>{% if client.createdAt %}{{ client.createdAt|date('d/m/Y') }}{% endif %}</td>
<td>
    {% if client.rendezVous is not empty %}
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Maladie</th>
                    <th>Traitement</th>
                </tr>
                </thead>
                <tbody>
                {% for rdv in client.rdv %}
                    <tr>
                        <td>{{ rdv.date|date('d/m/Y') }}</td>
                        <td>{{ rdv.maladie.nom is defined ? rdv.maladie.nom : 'Non défini' }}</td>
                        <td>{{ rdv.maladie.traitement is defined ? rdv.maladie.traitement : 'Non défini' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</td>
<td>
    <div class="btn-group" role="group" aria-label="...">
        <a role="button" class="btn btn-primary" href="{{ path('client_show', { 'id': client.id }) }}">Afficher</a>
        <a role="button" class="btn btn-primary" href="{{ path('client_edit', { 'id': client.id }) }}">Modifier</a>
        <a role="button" class="btn btn-primary"
           href="{{ path('client_show', { 'id': client.id }) }}">Afficher</a>
        <a role="button" class="btn btn-primary"
           href="{{ path('client_edit', { 'id': client.id }) }}">Modifier</a>
    </div>
</td>
</tr>
{% endblock %}