{% extends 'AppBundle::base.html.twig' %}

{% block layout %}
    <h1 class="text-xs-center">Espèce</h1>

    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ espece.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ espece.nom }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <ul>
        <li>
            <a href="{{ path('espece_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('espece_edit', { 'id': espece.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}